html {
    font-family: Lato, sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.header,
.main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

.navbar {
    background-color: rgb(194, 25, 25);
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 10px;
    display: flex;
    max-width: 50px;
    padding: 5px;
}

.navbar__navigation {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: rgb(237, 236, 236);
}

.navbar__navigation-item {
    margin-left: 50px;
}

.navbar__link {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.navbar__link:hover {
    color: rgb(183, 211, 57);
    transition: color 0.1s ease-in-out;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border: 1px solid rgb(183, 211, 57);
    background-color: rgb(237, 236, 236);
    margin-bottom: 1rem;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__button {
    background-color: rgb(147, 172, 38);
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

.form__button:hover {
    background-color:rgb(183, 211, 57);
}

.dates {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

.dates__link {
    color: inherit;
    text-decoration: none;
    outline: none;
    padding: 0.25rem 0.75rem;

    border-radius: 6px;
}


.dates__link--current {
    background: rgb(161, 209, 39);
}

.dates__link:not(.dates__link--current):hover {
    background: rgb(151, 221, 240);
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates__link:first-of-type,
.dates__link:last-of-type,
.dates__link:nth-of-type(2),
.dates__link:nth-last-of-type(2) {
    display: none;
}

@media screen and (min-width: 25rem) {
    .dates__link:nth-of-type(2),
    .dates__link:nth-last-of-type(2) {
        display: block;
    }
}

@media screen and (min-width: 35rem) {
    .dates__link:first-of-type,
    .dates__link:last-of-type {
        display: block;
    }
}


.habit {
    background-color: aliceblue;
}


.footer {
    background-color: rgb(194, 25, 25);
    padding: 20px 0;
    margin-top: 40px;
    border-top: 4px solid rgb(254, 201, 201);
    color: white;
    font-size: 12px;
}

.footer__content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.footer__item {
    margin-bottom: 5px;
    color: inherit;
    text-decoration: none;
}

.footer__item:hover {
    text-decoration: underline;
}

.habit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
}

.habit:not(.completed) {
    padding: 0;
}

.habit:not(.complete):hover {
    background-color: antiquewhite;
}

.habit__icon {
    width: 1em;
    height: 1em;
}

.habit__name {
    margin: 0;
}

.habit__form {
    width: 100%;
}

.habit__button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    border: none;
    background-color: unset;
    cursor: pointer;

}