<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Habit Tracker</title>
        <link rel="stylesheet" href="static/css/main.css" />
        {% block head_content %} {% endblock %}
    </head>
    <body>
        <header class="navbar">
            <div class="navbar__brand">
                    <a href="{{ url_for('habits.index')}}">
                        <img class="navbar__logo" src="static/images/logo_dark.svg" alt="Habit Tracker" />
                    </a>
            </div>
            {% if "add" not in request.endpoint %} 
                <a href="{{ url_for('habits.add_habit')}}" class="navbar__link">+ Add new</a>
            {% endif %}
        </header>
        
        <main class="main">   
            <section class="dates">
                {% for date in date_range(selected_date) %} 
                    <a 
                        class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else '' }}"
                        href="{{ url_for('habits.index', date=date) }}">
                        <time class="date", datetime="{{ date }}">
                            <span>{{ date.strftime("%a")}}</span>
                            <span>{{ date.strftime("%d")}}</span>
                        </time>
                    </a>
                {% endfor %}
            </section>
            {% block main_content %}
            {% endblock %}
    
        </main>
        <footer class="footer">
            <div class="footer__content">
                <section class="left">
                    <a class="footer__item">Made be Aman Virk</a>
                </section>
                <section class="right">
                    <div class="footer__column">
                    </div>
                </section>
            </div>
        </footer>
    </body>
</html>